name: Example workflow for Python script scan using Snyk
on: push

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Snyk
        run: npm install -g snyk

      - name: Run Snyk to check for vulnerabilities
        # Using the CLI directly ensures the SARIF file is created in the current workspace
        run: snyk test --sarif-file-output=snyk.sarif
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Count total number of vulnerabilities
        run: |
          # The file snyk.sarif will now exist in the root directory
          RESULTS_LENGTH=$(jq '.runs[0].results | length' snyk.sarif)
          echo "RESULTS_LENGTH=$RESULTS_LENGTH" >> $GITHUB_ENV
          echo "Total Vulnerabilities: $RESULTS_LENGTH"

      - name: Pass_or_Fail_the_job
        run: |
          if [ "$RESULTS_LENGTH" != "0" ]; then
            echo "Job Failed due to $RESULTS_LENGTH vulnerabilities."
            exit 1
          else
            echo "Pass: No vulnerabilities found."
          fi